@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto+Mono:wght@300;500&display=swap');

/* Styling the balloon */
#blue-balloon,
#red-balloon,
#yellow-balloon,
#green-balloon,
#red-heart-balloon,
#purple-balloon,
#pink-balloon {
    position: absolute;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    /* Vendor prefix for Webkit browsers */
    -moz-transition: all 0.25s;
    /* Vendor prefix for Mozilla Firefox */
    -ms-transition: all 0.25s;
    /* Vendor prefix for Microsoft Internet Explorer */
    -o-transition: all 0.25s;
    /* Vendor prefix for Opera */
    visibility: hidden;
    height: 0;
    cursor: pointer;
}

h1 {
    font-family: 'Carter One', cursive;
    font-size: 400;
    text-align: center;
}

#score-box {
    font-family: 'Carter One', cursive;
    font-size: 400;
}

#score-label {
    font-family: 'Carter One', cursive;
    font-size: 400;
}

#body-index {
    font-family: Arial, sans-serif;
    background-image: url('../images/balloon-arch.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    /* To enable sticky footer */
    display: grid;
    grid-template-rows: 1fr auto;
}

#body-game {
    display: flex;
    align-items: flex-start;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/balloon-arch-opacity.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* Top display in nickname and score easy, medium and hard games*/
.display-container {
    background-color: rgb(234, 237, 49);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 5px 10%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 16px;
}



.form-container {
    background-color: rgb(234, 237, 49);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 5px 10%;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 5px;
}

.form-levels, .form-sound {
    font-family: 'Carter One', sans-serif;
    font-size: 400;
}

label {
    margin-right: 10px;
}

input[type="text"],
select {
    flex-grow: 1;
    display: flex;
    padding: 0 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 30px;
}

button[type="submit"] {
    flex-grow: 1;
    background-color: #1616d7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
}

button[type="submit"]:hover {
    background-color: #363e6f;
}

/* Add spacing between form fields */
.space {
    margin-bottom: 20px;
}
.instructions {
    padding: 20% 10% 0 10%;
    text-align: center;
}

.blackout {
    background-color: rgba(237, 237, 237, 0.7); /* 0.5 opacity */
    border-radius: 5px;
    padding: 10px;
}

.hidden {
    display: none;
}

#footer {
    text-align: center;
    width: 100%;
    margin: 0;
}

#footer p {
    color: rgb(0, 0, 0);
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

#footer a {
    color: #1A1A1A;
}

@media screen and (min-width: 600px) {

    /* Styling the balloon */
    #blue-balloon,
    #red-balloon,
    #yellow-balloon,
    #green-balloon,
    #red-heart-balloon,
    #purple-balloon,
    #pink-balloon {
        height: 0;
    }

    .form-container {
        margin: 5px 25%;
    }

    .instructions {
        padding: 15% 25% 0 25%;
    }

    #footer p {
    font-size: 14px;
    }
}

/*@media screen and (max-width: 670px) {
    .form {
        flex-direction: column;
    }

        .form-levels {
            font-family: 'Carter One', cursive;
            font-size: 400;
        }
    
        label {
            margin-right: 10px;
        }
    
        input[type="text"],
        select {
            padding: 0 5px;
            margin: 10px 0;
            text-align: center;
        }
    
        button[type="submit"] {
            padding: 8px 25px;
        }
}*/