@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

/*Styling the balloon*/
#blue-balloon, #red-balloon, #yellow-balloon, #green-balloon {
    position: absolute;
    height: 160px;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    /* Vendor prefix for Webkit browsers */
    -moz-transition: all 0.25s;
    /* Vendor prefix for Mozilla Firefox */
    -ms-transition: all 0.25s;
    /* Vendor prefix for Microsoft Internet Explorer */
    -o-transition: all 0.25s;
    /* Vendor prefix for Opera */
}

h1 {
    font-family: 'Carter One', cursive;
    font-size: 400;
    text-align: center;
}

#score-box {
    font-family: 'Carter One', cursive;
    font-size: 400;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin-top: 0;
    background-image: url('../images/balloon-arch.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form input[type="text"],
.form select {
    margin-right: 10px;
}

.instructions {
    display: block;
    margin: 20% 25% 0 25%;
    text-align: center;
}


.hidden {
    display: none;
}
/*.form button {
    margin-top: 10px;
}*/