@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto+Mono:wght@300;500&display=swap');

/* Styling the balloon */
#blue-balloon,
#red-balloon,
#yellow-balloon,
#green-balloon,
#red-heart-balloon,
#purple-balloon,
#pink-balloon {
    position: absolute;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    /* Vendor prefix for Webkit browsers */
    -moz-transition: all 0.25s;
    /* Vendor prefix for Mozilla Firefox */
    -ms-transition: all 0.25s;
    /* Vendor prefix for Microsoft Internet Explorer */
    -o-transition: all 0.25s;
    /* Vendor prefix for Opera */
    visibility: hidden;
    height: 0;
    cursor: pointer;
}

h1 {
    font-family: 'Carter One', sans-serif;
    font-size: 400;
    text-align: center;
}

/* Score display */
#score-box, #score-label {
    font-family: 'Carter One', sans-serif;
    font-size: 400;
}

/* body of index page*/
#body-index {
    font-family: Arial, sans-serif;
    /* background image source http: //www.clipartbest.com/free-balloon-png-art */
    background-image: url('../images/balloon-arch.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    /* To enable sticky footer */
    display: grid;
    grid-template-rows: 1fr auto;
}

/* body of gaming pages easy.html medium.html and hard.html */
#body-game {
    display: flex;
    align-items: flex-start;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    /* background image source http: //www.clipartbest.com/free-balloon-png-art */
    background-image: url('../images/balloon-arch-opacity.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* Top display in nickname and score easy, medium and hard games*/
.display-container {
    background-color: rgb(234, 237, 49);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

 #score-label {
    flex-grow: 1;
    flex-basis: 160px;
 }

/* form */
.form-container {
    background-color: rgb(234, 237, 49);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 5px 10%;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 5px;
}

.form-levels, .form-sound {
    font-family: 'Carter One', sans-serif;
    font-size: 400;
}

label {
    margin-right: 10px;
}

input[type="text"],
select {
    flex-grow: 2;
    width: 100%;
    display: flex;
    padding: 0 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 30px;
}

button[type="submit"] {
    flex-grow: 1;
    width: auto;
    background-color: #1616d7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
}

button[type="submit"]:hover {
    background-color: #363e6f;
}

/* Add spacing between form fields */
.space {
    margin-bottom: 20px;
}
.instructions {
    padding: 20% 10% 0 10%;
    text-align: center;
}

/* Background of instructions */
.blackout {
    background-color: rgba(237, 237, 237, 0.7); /* 0.5 opacity */
    border-radius: 5px;
    padding: 10px;
}

/* Hide any element using this class */
.hidden {
    display: none;
}

/* Footer */
#footer {
    text-align: center;
    width: 100%;
    margin: 0;
}

#footer p {
    color: rgb(0, 0, 0);
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

#footer a {
    color: #1A1A1A;
}

/* Game over modal */
.modal {
    visibility: hidden;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 16px;
    background-color: white;
    margin: 0 auto;
    padding: 15px;
    border: 5px solid #888;
    border-radius: 5px;
    width: 300px;
    max-width: 80%;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content p {
    width: 100%;
    font-size: 30px;
    font-family: 'Carter One', sans-serif;
    text-align: center;
}

.modal-content button {
    flex: 1;
    width: 60%;
    font-size: 15px;
    background-color: #1616d7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-content button:last-child {
    background-color: rgb(234, 237, 49);
    color: black;
}

.modal-content button:hover {
    opacity: 0.8;
}

/*enable responsive design*/
@media screen and (min-width: 600px) {

    /* Styling the balloon */
    #blue-balloon,
    #red-balloon,
    #yellow-balloon,
    #green-balloon,
    #red-heart-balloon,
    #purple-balloon,
    #pink-balloon {
        height: 0;
    }

    .form-container {
        margin: 5px 25%;
    }

    .instructions {
        padding: 15% 25% 0 25%;
    }

    #footer p {
    font-size: 14px;
    }

    input[type="text"] {
    width: 100%;
    }

    select {
        width: 40%;
    }

    button[type="submit"] {
        width: auto;
    }

    .modal-content {
        max-width: 100%;
    }

    .modal-content {
        flex-direction: row;
    }

    .modal-content button {
    width: 100%;
    }
}